h1= title
p Tetris World

canvas#tetris(width=300,height=600)


script(src="/javascripts/tetris.js", type="application/javascript")    
script(src="/socket.io/socket.io.js", type="application/javascript")    
script(src="/javascripts/socket.js", type="application/javascript") 

